body{
    margin: 0;
    font-family: Helvetica, Arial, "Hiragino Sans GB", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    background-color: white;
}

a{
    color: #555555;
    text-decoration: none;
}

a:hover,a:focus{
    color: black;
    text-decoration: none;
}

footer{
    border-top: 1px solid #E7E7E7;
    padding-top: 40px;
    text-align: center;
}

.blue-link{
    color: #4094c7;
}

.border-top{
    border-top: 1px solid #E7E7E7;
}

.login-panel{
    border: 1px solid #E7E7E7;
    padding-top: 60px;
    margin-bottom: 20px;
    padding-bottom: 60px;
}

.login-panel .btn-padding{
    padding-left: 5%;
    padding-right: 5%;
}

.login-panel .btn-margin{
    margin-right: 10%;
}

.post-list{
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 650px;
}

.post-list .list-top{
    margin: 8px 0;
    font-size: 12px;
}

.post-list .title{
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    display: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

.post-list .post{
    position: relative;
    width: 100%;
    padding-right: 2px;
    padding-bottom: 17px;
    margin: 0 0 17px;
    border-bottom: 1px dashed #d9d9d9;
    box-sizing: border-box;
    word-wrap: break-word;
}

.post-list .list-footer{
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

.post-list>li:last-child{
    border: none;
}

.post{

}
.post-actions>a,.post-actions>button{
    margin-right: 10px;
}

.post .title{
    word-break: break-all;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
}

.post .meta-top{
    margin: 20px 0;
}

.post .meta-top>span{
    position: relative;
    top: 1px;
    margin-right: 10px;
    font-size: 12px;
    color: #999999;
}

.post .content{
    border-top: 1px solid #e5e5e5;
    color: #2f2f2f;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.7;
}

.index-container{
    margin-bottom: 20px;
}

.main-left{
    float: left;
    width: 70%;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 1px dashed #d9d9d9;
}

.main-right{
    float: left;
    width: 30%;
    padding-left: 10px;
    padding-bottom: 10px;
}

.tag {
    color: white;
    margin: 0 0 10px 5px;
    background-color: #46b8da;
    padding: 3px 5px 3px 5px;
    display: inline-block;
}


.pagination-center{
    text-align: center;
    padding: 5px 20px 5px 20px;
}
