<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title + '-' + shortDes %>
        </title>
        <!-- Bootstrap Core Css Styles -->
        <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap Theme Css Styles -->
        <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
        <!-- Toastr -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
        <!-- App Local Css Styles -->
        <link rel='stylesheet' href="./app<%=hash %>.css" />
    </head>
    <body>
        <section id="app"></section>
        <!-- Toastr -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <!-- Vendors -->
        <script src="./vendors<%=hash %>.js"></script>
        <!-- App -->
        <script src="./app<%=hash %>.js"></script>
    </body>
</html>
