<!DOCTYPE html>
<html>
  <head>
    <title><%= title + '-' + shortDes %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="content"></div>
    <script src="./build/vendors.js"></script>
    <script src="./build/app.js"></script>
  </body>
</html>
